{% extends 'base.html' %}
{% block content %}
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">About Squatchers©</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Squatchers is an international platform for sharing sasquatch sightings and stories. Our aim is to
                show the world that we ARE NOT CRAZY!  
                </p>
                <p class="text-white-75 mb-4">Sasquatch/Bigfoot/Cain (call him what you may) is alive and well, and for the few of us fortunate
                    to have seen him it is our responsibility to make it known!
                </p>
                <p class="text-white-75 mb-4">
                    Join the cause today by making a cash contribution to keep this site alive!
                    <h4>
                    Venmo qr code here
                    </h4>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}