{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Seen sasquatch?</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Join squatchers today.</p>
                <a class="btn btn-primary btn-xl" href="{% url 'sightings' %}">View Sightings</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->

<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider"/>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <a href="https://www.facebook.com/groups/293990239317252" target='_blank'>
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Join our Facebook Group</h3>
                        <p class="text-muted mb-0">Be among the first to contribute to our page!</p>
                    </a>
                    </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://www.britannica.com/topic/Sasquatch" target='_blank'>
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Get Educated!</h3>
                    <p class="text-muted mb-0">Read More about Sasquatch on Britannica.com</p>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://www.nationalgeographic.com/culture/article/forensic-expert-says-bigfoot-is-real" target='_blank'>
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">We are not Alone</h3>
                    <p class="text-muted mb-0">Forensic Expert says 'Bigfoot is real'</p>
                </div>
            </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2"></h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/img/portfolio/fullsize/1.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/img/Num1.jpeg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/img/portfolio/fullsize/2.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/img/Num2.jpeg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/img/portfolio/fullsize/3.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/Num3.jpeg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/4.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/portfolio/thumbnails/Num4.jpeg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/img/portfolio/fullsize/5.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/portfolio/Num5.jpeg' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/6.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/portfolio/Num6.jpeg' %}" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}



<!-- Call to action-->
<!-- <section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
    </div>
</section> -->
