{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead" style="background-image: url('https://images.pexels.com/photos/1671324/pexels-photo-1671324.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')" >
    <div class="container px-4 px-lg-5 h-100" >
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Seen Sasquatch?</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Join squatchers today!</p>
                <a class="btn btn-primary btn-xl" href="{% url 'sightings' %}">View Sightings</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->

<!-- Services-->
<section class="page-section" id="services" style="background-color:white">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Additional Squatchsources</h2>
        <hr class="divider"/>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <a href="https://www.facebook.com/groups/293990239317252" target='_blank'>
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Join our Facebook Group</h3>
                        <p class="text-muted mb-0">Be among the first to contribute to our page!</p>
                    </a>
                    </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://www.britannica.com/topic/img/portfolio/thumbnailsuatch" target='_blank'>
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Get Educated!</h3>
                    <p class="text-muted mb-0">Read More about Sasquatch on Britannica.com</p>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://www.nationalgeographic.com/culture/article/forensic-expert-says-bigfoot-is-real" target='_blank'>
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">We are not Alone</h3>
                    <p class="text-muted mb-0">Forensic Expert says 'Bigfoot is real'</p>
                </div>
            </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <a href="https://gatherupevents.com/smoky-mountain-bigfoot-conference/" target='_blank'>
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Smoky Mountain Bigfoot Conference</h3>
                    <p class="text-muted mb-0">Click Here for More Informations</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://images.pexels.com/photos/4075/nature-walking-animal-strong.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500" title="Figurine">
                    <img class="img-fluid" src="https://images.pexels.com/photos/4075/nature-walking-animal-strong.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500">
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Figurine</div>
                       
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://nypost.com/wp-content/uploads/sites/2/2021/04/bigfoot.jpg?quality=90&strip=all&w=1488" title="Sasquatch Lurking">
                    <img class="img-fluid" src="https://nypost.com/wp-content/uploads/sites/2/2021/04/bigfoot.jpg?quality=90&strip=all&w=1488" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Sasquatch Lurking</div>
                        
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://thumbs.dreamstime.com/b/bigfoot-mold-sand-44600862.jpg" title="Bigfoot Footprint in Sand">
                    <img class="img-fluid" src="https://thumbs.dreamstime.com/b/bigfoot-mold-sand-44600862.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Bigfoot Footprint in Sand</div>
                        
                    </div>
                </a>
            </div>
            {% comment %} <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/4.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/img/portfolio/thumbnails/Num4.png' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="{% static 'img/img/portfolio/fullsize/5.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/img/portfolio/thumbnails/Num5.png' %}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6" >
                <a class="portfolio-box" href="{% static 'img/portfolio/fullsize/6.jpg' %}" title="Project Name">
                    <img class="img-fluid" src="{% static 'img/img/portfolio/thumbnails/num6.jpg' %}" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div> {% endcomment %}
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}


