{% extends 'base.html' %}
{% block content %}
 <section class="page-section" id="contact" > <!-- style="padding-bottom: 100px; background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../assets/img/bg-masthead.jpg); height:800px;" -->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Submit Your Sighting!</h2>
                <hr class="divider" />
            </div>
        </div>


        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="createForm" method="post" action="{% url 'create' %}">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input class="form-control" id="title" name="title" type="text" placeholder="Enter a title..." data-sb-validations="required" maxlength="100" />
                        <label for="title">Sighting Title</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-control" id="reporterID" name="reporterid" data-sb-validations="required">
                        {% for rep in reporters %}
                        <option value="{{ rep.id }}">{{ rep.id }}</option>
                        {% endfor %}
                        </select>
                        <label for="reporterID">Reporter ID</label>
                        <div class="invalid-feedback" data-sb-feedback="reporter:required">Reporter ID is required and was created when you created a reporter account on the website</div>
                    </div>                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="description" name="description" type="text" placeholder="Enter a description here..." style="height: 10rem" data-sb-validations="required" maxlength="5000"></textarea>
                        <label for="description">Description</label>
                        <div class="invalid-feedback" data-sb-feedback="description:required">A description is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="latitude" name="latitude" type="decimal" placeholder="Enter latitude..." data-sb-validations="required" maxlength="10"/>
                        <label for="latitude">Latitude</label>
                        <div class="invalid-feedback" data-sb-feedback="latitude:required">A latitude is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="longitude" name="longitude" type="decimal" placeholder="Enter longitude..." data-sb-validations="required" maxlength="10" />
                        <label for="longitude">Longitude</label>
                        <div class="invalid-feedback" data-sb-feedback="longitude:required">A longitude is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="date" name="date" type="date" data-sb-validations="required" />
                        <label for="date">Date</label>
                        <div class="invalid-feedback" data-sb-feedback="date:required">A date is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="time" name="time" type="time" data-sb-validations="required" />
                        <label for="time">Time</label>
                        <div class="invalid-feedback" data-sb-feedback="time:required">A time is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="timezone" name="timezone" type="timezone" placeholder="Enter time zone..." data-sb-validations="required" maxlength="4"/>
                        <label for="timezone">Time Zone</label>
                        <div class="invalid-feedback" data-sb-feedback="zone:required">A time zone is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="country" name="country" type="text" placeholder="Enter country..." data-sb-validations="required" maxlength="50" />
                        <label for="country">Country</label>
                        <div class="invalid-feedback" data-sb-feedback="country:required">A country is required.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="state" name="state" type="text" placeholder="Enter state..." data-sb-validations="required" maxlength="2"/>
                        <label for="state">State</label>
                        <div class="invalid-feedback" data-sb-feedback="state:required">A state is required.</div>
                    </div>
                    <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Report</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}