{% extends 'base.html' %}
{% block content %}
    <div style="display:flex; justify-content:center; width:100vh; margin-right:0; padding-left:50rem">
        <div style="width:fit-content; background-color:#ffffff; border-radius:.5rem">
            <table style="margin:3rem">
                <tr>
                    <th style="padding-right:3rem;">-</th>
                    <th style="padding-right:3rem;">Title</th>
                    <th style="padding-right:3rem; width:15rem;">Description</th>
                    <th style="padding-right:3rem;">Latitude</th>
                    <th style="padding-right:3rem;">Longitude</th>
                    <th style="padding-right:3rem;">Date</th>
                    <th style="padding-right:3rem;">Time</th>
                    <th style="padding-right:3rem;">Time Zone</th>
                    <th style="padding-right:3rem;">Country</th>
                    <th style="padding-right:3rem;">State</th>
                    <th style="padding-right:3rem;">-</th>
                </tr>
                {% for sighting in sightings %}
                <tr>
                    <td style="padding-right:3rem;"><a href="{% url 'edit' id=sighting.id %}">Edit</a></td>
                    <td style="padding-right:3rem;">{{sighting.sight_title}}</td>
                    <td style="padding-right:3rem;">{{sighting.Description}}</td>
                    <td style="padding-right:3rem;">{{sighting.sight_latitude}}</td>
                    <td style="padding-right:3rem;">{{sighting.sight_longitude}}</td>
                    <td style="padding-right:3rem;">{{sighting.Time_date|date:'m-d-Y'}}</td>
                    <td style="padding-right:3rem;">{{sighting.Time_date|date:'H:i'}}</td>
                    <td style="padding-right:3rem;">{{sighting.time_zone}}</td>
                    <td style="padding-right:3rem;">{{sighting.Country}}</td>
                    <td style="padding-right:3rem;">{{sighting.State}}</td>
                    <td style="padding-right:3rem;"><a href="{% url 'delete' id=sighting.id %}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}