{% extends 'base.html' %}
{% block content %}
    <div style="display:flex; flex-direction:column; width:100vh; margin-right:0;">
        <div style="align-self:center;">
            <table>
                <tr>
                    <th style="padding-right:3rem;">-</th>
                    <th style="padding-right:3rem;">Title</th>
                    <th style="padding-right:3rem;">Description</th>
                    <th style="padding-right:3rem;">Latitude</th>
                    <th style="padding-right:3rem;">Longitude</th>
                    <th style="padding-right:3rem;">Date</th>
                    <th style="padding-right:3rem;">Time</th>
                    <th style="padding-right:3rem;">Time Zone</th>
                    <th style="padding-right:3rem;">Country</th>
                    <th style="padding-right:3rem;">State</th>
                    <th style="padding-right:3rem;">-</th>
                </tr>
                {%  %}
            </table>
        </div>
    </div>
{% endblock %}